.idea
*.ipr
*.imr
*.iws
*.iml
*.sublime-project
*.sublime-workspace
.python-version

*.swp
*.DS_Store
__pycache__
*.pyc
*.pem
.sass-cache

*/*/.cache*
*/*/.coverage*
*/*/htmlcov*
coverage.svg

tests
.gitignore
Dockerfile*
.git
.dockerignore
.pre-commit-config.yaml
LICENSE
README.md
.github
.bandit.yaml
.flake8
pytest.ini
coverage.svg
setup.py
setup.cfg
